
.content{
    text-align: center;
}

.title{
    text-size-adjust: 50em;
}
.paper{
    margin-top: 5em;
    padding-bottom: 2em;
}
.cardTitleWhite {
    color: #FFFFFF;
    margin-top: 0px;
    min-Height: auto;
    font-Weight: 300;
    font-Family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-Bottom: 3px;
    text-Decoration: none;
}
.description {
    left: 2em;
}
.type {
    left: 4em;
}
.outlineBasic {
    left: 6em;
}
.button {
    margin-top: 5em;
    margin-left: 70em;
    max-height: 40em;
    max-width: 10em;
}
